@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>
<h5>How to use Subtitle Companion</h5>

<hr/>

<div>
    <p>
        Subtitle Companion lets you view a subtitle file inside a your web browser. Once you have
        opened the file you wish to view onto a webpage, you can align it alongside its corresponding
        video, or open the video on a different device.
    </p>
    <p>
        By setting the video to play its audio and display its subtitles in your target language, the
        file opened by Subtitle Companion in your native tongue will allow you to check any translations
        that you are still learning.
    </p>
</div>
 
<div>
    <a href="/Content/Images/Original.png">
        <img class="img-responsive img-thumbnail" src="/Content/Images/Original.png" alt="Subtitle Companion Example">
    </a>
</div>
