@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>
<h5>How to use Subtitle Companion</h5>

<hr/>

<div>
    <h4>Overview</h4>
    <p>
        Subtitle Companion lets you view subtitle files from within your web browser. By opening a
        file that you wish to view onto a web page, you can align it alongside its corresponding video, 
        or open the video on a different device.
    </p>

    <br />

    <p>
        <a href="/Content/Images/Original.png">
            <img class="img-responsive img-thumbnail" src="/Content/Images/Original.png" alt="Subtitle Companion Example">
        </a>
    </p>

    <br />

    <h5>Video Streaming</h5>
    <p>
        Streaming video players often do not support subtitles, even though the file may be freely
        available elsewhere. Subtitle Companion lets you view those subtitles alongside the streaming
        video.
    </p>

    <h5>Language Immersion</h5>
    <p>
        By setting a video to output its audio and/or subtitles in a foreign language, Subtitle Companion
        lets you open the equivalent native subtitles away from the video and use them only when
        required.
    </p>

    <h5>Features</h5>
    <p>The following features of Subtitle Companion are described below:</p>
    <p class="tob-link"><a href="#Search">1. Search</a></p>
    <p class="tob-link"><a href="#Results">2. Results</a></p>
    <p class="tob-link"><a href="#Upload">3. Upload</a></p>
    <p class="tob-link"><a href="#Style">4. Style</a></p>
    <p class="tob-sublink"><a href="#TimeElapsed">4.1. Time Elapsed</a></p>
    <p class="tob-sublink"><a href="#TimeRemaining">4.2. Time Remaining</a></p>
    <p class="tob-link"><a href="#Viewer">5. Viewer</a></p>
    <p class="tob-link"><a href="#Synchronise">6. Synchronise</a></p>

</div>

<hr />

<a name="Search"></a>
<div>
    <h4>1. Search</h4>
    <p>
        The Subtitle Companion search feature is powered by - 
        <img style="margin-bottom:4px" src="/Content/Images/OpenSubtitles.ico" alt="Open Subtitles Favicon">
        <a href="http://www.OpenSubtitles.org" target="_blank">www.OpenSubtitles.org</a>
        - A massive database that contains millions of popular subtitles. Enter the title of the movie or TV show that
        you would like to watch, and the language that the subtitles should be in. Season and episode numbers can also
        be entered for more specific results.
    </p>

    <p>
        <a href="/Content/Images/Search.png">
            <img class="img-responsive img-thumbnail" src="/Content/Images/Search.png" alt="Subtitle Companion Search">
        </a>
    </p>
</div>

<hr />

<a name="Results"></a>
<div>
    <h4>2. Results</h4>
    <p>
        Subtitle Companion will retrieve a list of all the available subtitle files that match
        a search query. Any of these files can be selected, using the supplied drop-down menu,
        and viewed alongside their corresponding media.
    </p>

    <p>
        <a href="/Content/Images/Results.png">
            <img class="img-responsive img-thumbnail" src="/Content/Images/Results.png" alt="Subtitle Companion Results">
        </a>
    </p>
</div>
  
<hr />

<a name="Upload"></a>
<div>
    <h4>3. Upload</h4>
    <p>
        Subtitles Companion also lets you upload your own subtitles. This allows users to view files
        that they may have already downloaded from their favorite subtitle website. Simply click the
        'Browse' button and select a (.srt) file off your PC - This file can then be uploaded and viewed.
    </p>

    <p>
        <a href="/Content/Images/Upload.png">
            <img class="img-responsive img-thumbnail" src="/Content/Images/Upload.png" alt="Subtitle Companion Upload">
        </a>
    </p>
</div>

<hr />

<a name="Style"></a>
<div>
    <h4>4. Style</h4>
    <p>
        There are two styles that a video's time can be displayed in, the amount of time that has passed since the video started
        and the amount of time left until the video is complete. Subtitle Companion supports both formats.
    </p>

    <a name="TimeElapsed"></a>
    <h5>4.1. Time Elapsed</h5>
    <p>
        This is the simpler method as the (.srt) file format stores its time-stamps in the style, and so the duration of the video
        does not need to be specified.
    </p>

    <p>
        <a href="/Content/Images/TimeElapsed.png">
            <img class="img-responsive img-thumbnail" src="/Content/Images/TimeElapsed.png" alt="Subtitle Companion Time Elapsed">
        </a>
    </p>

    <a name="TimeRemaining"></a>
    <h5>4.2. Time Remaining</h5>
    <p>
        This method requires the user to input the length of the video, so that the time-stamps in the (.srt) file can be applied
        in reverse.
    </p>

    <p>
        <a href="/Content/Images/TimeRemaining.png">
            <img class="img-responsive img-thumbnail" src="/Content/Images/TimeRemaining.png" alt="Subtitle Companion Time Remaining">
        </a>
    </p>
</div>

<hr />

<a name="Viewer"></a>
<div>
    <h4>5. Viewer</h4>
    <p>
        The viewer is where the contents of a subtitle file are actually displayed. The time-stamps will
        count up if the <i>Time Elapsed</i> style was chosen, or count down if <i>Time Remaining</i> was
        selected. There are links to other features for ease-of-access, and each time-stamp can be
        selected and edited for synchronisation purposes, as described in the next section. 
    </p>

    <p>
        <a href="/Content/Images/Viewer.png">
            <img class="img-responsive img-thumbnail" src="/Content/Images/Viewer.png" alt="Subtitle Companion Viewer">
        </a>
    </p>
</div>

<hr />

<a name="Synchronise"></a>
<div>
    <h4>6. Synchronise</h4>
    <p>
        Some media vendors add extraneous information at the beginning of videos that can cause subtitle
        files to become out of sync. Lack of synchronisation can also be caused by poor subtitle file 
        quality, for example a number of incorrect time-stamps.
    </p>

    <p>
        Subtitle Companion allows you to synchronize a subtitle file with its corresponding video, at the
        start or at any time-stamp throughout the duration. Simply click on 'Sync' or the time-stamp that
        needs adjusting and edit the time.
    </p>

    <p>
        <a href="/Content/Images/Synchronise.png">
            <img class="img-responsive img-thumbnail" src="/Content/Images/Synchronise.png" alt="Subtitle Companion Synchronise">
        </a>
    </p>
</div>

<br />

<a href="#top">&uarr; Back to Top &uarr;</a>
