@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Subtitle Companion</h1>
    <p class="lead">Subtitle Companion is a free web-based .srt file parser for viewing subtitles <i>alongside</i> their corresponding video or other media.</p>
    <p><a href="@Url.Action("Upload", "Subtitles")" class="btn btn-primary btn-lg">Upload &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Language Learning</h2>
        <p>
            Watching video content in a target language is a powerful immersion technique. Subtitle 
            Companion enhances this experience by enabling the ability to view corresponding subtitles in
            both a target and native language, similtaneously.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Subtitle Files</h2>
        <p>Subtitle (.srt) files are available all over the internet, and there are a number of websites that make subtitles for popular TV shows and movies freely available.</p>
        <p><a class="btn btn-default" href="http://www.tvsubtitles.net/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Netflix</h2>
        <p>Netflix is a great way to consume video content in a foriegn laguage.</p>
        <p><a class="btn btn-default" href="https://www.netflix.com/">Learn more &raquo;</a></p>
    </div>
</div>