.navbar-fixed-top,
.navbar-fixed-bottom {
  position: relative;
}

.img-thumbnail {
  max-width: 70%;
}

.jumbotron {
  background-image: url("/Content/Images/Example.png");
  background-size: 100% 100%;
}

h5, .h5 {
    font-style: italic;
}

.tob-link {
    text-indent: 2em;
    margin: 0 0 0;
}

.tob-sublink {
    text-indent: 4em;
    margin: 0 0 0;
}