.navbar-fixed-top,
.navbar-fixed-bottom {
  position: relative;
}

.img-thumbnail {
  max-width: 70%;
}

.jumbotron {
  background-image: url("/Content/Images/Example.png");
  background-size: 100% 100%;
}